* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

#page {
  background-image: url("./asset/image/background\ \(2\).svg");
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;

  .container {
    height: 100%;
    width: 100%;
    padding: 80px 0px 80px 0px;
    display: flex;
    justify-content: center;
  }

  .main {
    height: 394px;
    width: 1128px;
    left: 0px;
    top: 80px;
    border-radius: 0px;
    padding: 48px;
    justify-content: space-between;
    background-color: white;

    .left {
      height: 244.0136260986328px;
      width: 438px;
      left: 48px;
      top: 74.9931640625px;
      border-radius: 0px;

      .card {
        height: 244.0136260986328px;
        width: 327px;
        left: 55.5px;
        top: 0px;
        border-radius: 5px;
        padding: 30px 35px 30px 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

      }

      .name{
        display: flex;
        flex-direction: column;
        align-items: center;        

      }
    }
  }
}
